[Desktop Entry]
Type=Application
Version=1.0
Name=Weather Viewer
Comment=JMA & GPV
Exec=bash -i -c "conda activate weather; python $MYAPPS_PATH/Weather\ Viewer.py"
Icon=/mnt/d/Projects/MyApps/modules/weather/icons/viewer/app.png
Terminal=false
Categories=Science